@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  /*background-color: #ff0;*/
  font-family: 'Oswald', sans-serif;
}

.slide {
  background-color: #000;
  color: #ffd;
}

.slide a {
  color: #ff9;
  text-decoration: none;
}

code {
  font-family: Menlo;
}
